#student-register-year {
    width: 80%;
    position: relative;
    display: block;
    left: 50%;
    margin-top: 5%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}