{% extends "/base/index.html" %}

{% block title %}
Course
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/base/course.css') }}">
{% endblock %}

{% block content %}
<div class="main" id="course-content">
  <a href="{{ url_for('views.turn_to_add_course') }}" class="button" id="turn-to-add-course">添加课程信息</a>
  <a href="{{ url_for('views.turn_to_query_course') }}" class="button" id="turn-to-query-course">查询课程信息</a>
  <a href="{{ url_for('views.turn_to_update_course') }}" class="button" id="turn-to-update-course">修改课程信息</a>
  <a href="{{ url_for('views.turn_to_delete_course') }}" class="button" id="turn-to-delete-course">删除课程信息</a>
</div>
{% endblock %}
